<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python assignments</title>
</head>
<body>
    <p></p>
    <p>These are the assignments I've completed for Python:</p>
    <ul>
        <li>Homework1: Asking user for their name, and telling them how many
        letters they have in their name. Also, performing list operations.</li>
        <p></p>
        <li>Homework2: Physics simulation that shows us the difference between
        using static equations and dynamic equations (g a function of time).</li>
        <p></p>
        <li>Homework3: Solving a vertical percolation problem using numpy arrays,
        shows percolation of water down into a black and white maze.</li>
        <p></p>   
        <li>Homework4: Modeling student and teacher objects, calculating student 
        grade averages and resulting teacher compensation.</li>
        <p></p>
        <li>Midterm: Modifying PPM image files in order to "clean up" images 
        with objects on them, performing changes to grey and flipping horizontally.</li>
        <p></p>
        <li>Homework5: Completing the machine learning library on the tumor detection
        project. Implementing KNN algorithm to separate benign from malignant.</li>
        <p></p>
        <li>Final Project: Making my own website using flask, and showcasing my 
        work from this class as well as my general Columbia career.</li>
        
    </ul>
    
    <p>My favorite assignment from this class:</p>
    
    <p style="margin-left:3%">
     
     My favorite assignment has definitely been this last one. Given my background
     primarily as an economics student, programming is on the more challenging side,
     and it takes a while for me to figure out the plan and execute it. This 
     assignment was relatively easier, and I also appreciate how practical it is 
     to learn HTML and make a website. All in all, this has been a great class and
     I'm excited to learn more Python and other programming languages in the future.
     Thanks Tim!
     
     </p>

<a href = "/">Back to Homepage</a>

</body>
</html>