<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses taken at Columbia</title>
</head>
<body>
    <p>These are the courses I've taken this past semester:</p>
    <p></p>
    <ul>
        <li><a href = "https://www.cs.columbia.edu/education/courses/course/ENGIE1006-1/26939/">Intro to Python</a></li>
        
        <li><a href = "https://music.columbia.edu/course/musics-of-east-asia-and-southeast-asia">Music of East Asia</a></li>
        
        <li><a href = "https://econ.columbia.edu/econpeople/sunil-gulati/"> Sports Economics – Senior Seminar</a></li>
        
        <li><a href = "https://econ.columbia.edu/econpeople/guillaume-haeringer/"> Market Design</a></li>
        
        <li><a href = "https://entrepreneurship.columbia.edu/pride/jerry-neumann/"> Managing Tech Innovation & Entrepreneurship</a></li>
        
        <li><a href = "https://perec.columbia.edu/wellness"> Yoga and Meditation </a></li>
    </ul>
    
     <p>My favorite course at Columbia:</p>
     
     <p style="margin-left:3%">
     
     Of all the classes I've taken in the last four years at Columbia, it's hard
     for me to come up with one absolute favorite. Instead, I have a few. First,
     I really liked University Writing as a freshman. I feel that the class 
     honed my writing skills and made me aware of political/social issues
     in a way I hadn't been before. Next, I really enjoyed taking Intro to Java
     with Adam Cannon. The class exposed me to object-oriented programming and 
     thinking big picture before delving into smaller details to solve each problem, 
     and I also enjoyed the CS theory-related parts of that class. Finally, 
     Econometrics with Jushan Bai was a great class for me. Though difficult,
     I learned a lot about how to make connections between phenomena in the real 
     world and quantifying the above with data and models. All in all, Columbia
     has provided me with a solid foundational education, and I look forward to 
     the next phase in my intellectual life and career.
     

      </p>
     
    

<a href = "/">Back to Homepage</a>

</body>
</html>