<!DOCTYPE html>
<html>
<head>
    <!--specifies title of the page !-->
    <title>Rajiv Ram's Website</title>
    <head>
<body>
    <img src="static/Rajiv.png"  width = "160" height = "192" />
    <p>Rajiv Ram</p>
     <p> </p>
    <p>I am a senior at Columbia</p>
    <p> </p>
    <p>Majored in Economics</p>
    <p></p>
    <p>Here are links to my courses, 1006 assignments, and my favorite page</p>
    <ol>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="https://www.youtube.com/watch?v=UYmcm5bKvxk">An Awesome Skiing Video (YouTube)</a></li>
    </ol>
</body>
</html>

